*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.post{
    margin: 100px;
    width: 25rem;
    height: 25rem;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post input{
    height: 2rem;
    width: 20rem;
    padding: 5px;
}
.button button{
    padding:2px  24px ;
}